{#
/**
 * @file
 * Theme override to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{% block attributes %}
  {% set classes = [
    'c-paragraph',
    'c-paragraph--type-' ~ paragraph.bundle|clean_class,
    view_mode ? 'c-paragraph--view-mode-' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'is-unpublished',
  ] %}

  {% set attributes = attributes.addClass(classes) %}
{% endblock %}

{% set paragraph_modifier_classes %}
  {%- block modifier_classes -%}
  {%- endblock -%}
{% endset %}

{% set paragraph_constrain_modifier_classes %}
  {%- block constrain_modifier_classes -%}
  {%- endblock -%}
{% endset %}

{% set paragraph_has_constrain %}
  {%- block has_constrain -%}
    {{ true }}
  {%- endblock -%}
{% endset %}

{% set paragraph_title_element = 'h2' %}

{% set num_of_cols = content.field_num_of_cols|render|striptags|trim %}

{% set paragraph_content %}
  {{ content['field_paragraphs_' ~ num_of_cols] }}
{% endset %}

{% embed '@layouts/section/section.twig' with {
  'has_constrain': true,
  'modifier_classes': paragraph_modifier_classes,
  'constrain_modifier_classes': paragraph_constrain_modifier_classes,
  'has_constrain': paragraph_has_constrain,
  'section_kicker': content.field_text|field_value,
  'section_title': content.field_short_text|field_value,
  'section_title_element': paragraph_title_element,
  'section_intro': content.field_long_text|field_value,
  'section_title_url': content.field_link|field_value,
  'section_buttons': content.field_button_links|field_value
} %}

  {% block content %}
    {% if num_of_cols > 1 %}
      {% include '@layouts/grid/grid.twig' with {
        grid_content: paragraph_content,
        num_of_cols: num_of_cols
      } %}
    {% else %}
      {{ paragraph_content }}
    {% endif %}
    {% if search_form %}
      <div class="c-support__preview">
        <h2>{{ 'Find Answers'|t }}</h2>
        {{ search_form }}
        <a href="/support">{{ 'View all knowledge base articles' | t }}  <svg class="svg-inline--fa fa-arrow-right" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M438.6 278.6l-160 160C272.4 444.9 264.2 448 256 448s-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L338.8 288H32C14.33 288 .0016 273.7 .0016 256S14.33 224 32 224h306.8l-105.4-105.4c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160C451.1 245.9 451.1 266.1 438.6 278.6z"></path></svg></a>
      </div>
    {% endif %}
  {% endblock %}

{% endembed %}


{% set catch_cache = content|render %}
